@import "colors";

@mixin type-1($size) {
  font-family: monospace;

  @if $size == 16 {
    font-size: 1em;
    font-weight: normal;
  }
  @else if $size == 18 {
    font-size: 1.25em;
    font-weight: normal;
  }
  @else if $size == 24 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

p {
  @include type-1(16);
}

$lista: facebook twitter snapchat instagram;

@each $item in $lista {
  .rede-#{$item} {
    background: url('../img/#{$item}.png');
  }
}

@function grid($colunas, $total: 12) {  //Função para calcular o tamanho das grids
  @return round(($colunas / $total) * 100%);
}

@function pixelsToEm($pixels, $contexto: 16) {   //Função que converte pixels em EM
  @return ($pixels / $contexto) * 1em;
}

@mixin title-large {
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin separador($color: blue, $largura: 100px) {
  &::after {
    content: '';
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-sizing: $shadow;
  -webkit-box-sizing: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

$primary-color: blue;
$primary-font: monospace;
$gutter: 30px;

section {
  max-width: 600px;
  margin: 0 auto;
  @include border-box;
}

.modal {

  @include box-shadow(10px 10px 0 0 rgba(0,0,0,.5),
          15px 15px 0 0 rgba(0,0,0,.5),
          20px 20px 0 0 rgba(0,0,0,.5));

  h1 {
    color: $primary-color;
    font-family: $primary-font;
    margin-bottom: $gutter;
    @include title-large;
    @include separador(yellow, 400px);
    @include mobile {
      color: #84E;
      font-size: 2em;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.4;
    max-width: 400px;
    font-family: $primary-font;
    font-style: italic;
    @include mobile {
      font-size: .6em;
    }
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $primary-color;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary-color;

    &:hover {
      background: lighten(blue, 20%); //Função que clareia a cor - calcula a porcentagem automaticamentes
    }
  }
}

ul {
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    font-size: pixelsToEm(36);

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: white;
      font-size: pixelsToEm(16, 36);

      &:hover {
        background: darken(blue, 20%); //Função que escurece a cor - calcula a porcentagem automaticamente
        //background: transparentize(blue, .5); Função que deixa mais transparente a cor
      }
    }
  }
}
