@import "colors";
@import "buttons";

$preto: #999;

div {
  background: $preto;
  height: 200px;
  width: 200px;

  a {
    color: pink;
    background: blue;
  }
}

$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 20px;

section {
  max-width: 600px;
  margin: 0 auto;
}

.modal {

  h1 {
    color: $cor-primaria;
    font-family: $font-primaria;
    margin-bottom: $gutter;
  }

  p {
    font-size: 1.2em;
    line-height: 1.4;
    max-width: 400px;
    font-family: $font-primaria;
    font-style: italic;
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $cor-primaria;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-primaria;

    &:hover {
      background: pink;
    }
  }
}

ul {
  text-align: center;

  li {
    display: inline-block;
    list-style: none;

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: white;

      &:hover {
        background: pink;
      }
    }
  }
}
